<?xml version="1.0" encoding="UTF-8"?>

<!--  스프링과 JPA 연동 설정 -->

<bean id="jpaVendorAdapter"
    class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"></bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalCOntainerEntityManagerFactoryBean">
    	<property name="dataSource" ref="datasource"></property>
    	<property name="jpaVendorAdapter" ref="jpaVendorAdapter"></property>
    	<property name="packagesToScan" value="com.springbook.biz.board"></property>
    	<property name="jpaProperties">
    	    <props>
    	        <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
    	        <prop key="hibernate.show_Sql">true</prop>
    	        <prop key="hibernate.format_Sql">true</prop>
    	        <prop key="hibernate.use_sql_comments">true</prop>
    	        <prop key="hibernate.id.new_generator_mappings">true</prop>
    	        <prop key="hibernate.hbm2ddl.auto">create</prop>
    	    </props>
    	</property>
    </bean>
    
    <!-- transaction 설정 -->
    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"></property>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="allPointcut"
            		  expression="execution(* com.springbook.biz..*Impl.*(..))"/>
        <aop:advisor pointcut-ref="allPointcut" advice-ref="txAdvice"/>
    </aop:config>
    