<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="tv" class="polymorphism.SamsungTV"/>  -->
	
	<!-- (1) init-method 속성 page 59 -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod"/> --> <!-- bean 엘리먼트에에 init-method 속성을 지원한다. -->

	<!-- (2) destory-method 속성 page 60-->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" destroy-method="destoryMethod"/> --> <!-- bean 엘리먼트에 destory-method 속성을 지원한다. -->

	<!-- (3) lazy-init page 61 -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" lazy-init="true"/> -->	

	<!-- (4) scope 속성 -->
	<bean id="tv" class="polymorphism.SamsungTV" scope="singleton"/>
	
	<!-- (4-2) scope 속성 with prototype-->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" scope="prototype"/> -->



	<!--  의존성 관계 시작 page 66-->
	<bean id="tv1" class="polymorphism2.SamsungTV">
	    <constructor-arg ref="sony"></constructor-arg>
	</bean>    
	<bean id="sony" class="polymorphism2.SonySpeaker"></bean>
	
	
	
	<!-- 다중 변수 매핑 page 72-->
	<bean id="tv2" class="polymorphism3.SamsungTV">
	    <constructor-arg index="0" ref="sony2"></constructor-arg>
	    <constructor-arg index="1" value="270000"></constructor-arg>
	</bean>
	<bean id="sony2" class="polymorphism3.SonySpeaker"></bean>

	
	
	<!-- 4.2.2. 의존관계 변경 -->
	<bean id="tv3" class="polymorphism4.SamsungTV">
	    <constructor-arg ref="apple"></constructor-arg>
	    <constructor-arg value="280000"></constructor-arg>
	</bean>
	<bean id="apple" class="polymorphism4.AppleSpeaker"></bean>

	
	
	<!-- 4.3.1 Setter Injection 기본 -->
	<bean id="tv4" class="polymorphism5.SamsungTV">
	    <property name="speaker" ref="apple1"></property>
	    <property name="price" value="290000"></property>
	</bean>
	<bean id="sony3" class="polymorphism5.SonySpeaker"></bean>
	<bean id="apple1" class="polymorphism5.AppleSpeaker"></bean>
	

	
	<!-- 4.3.2 Setter Injection with p name space-->
	<bean id="tv5" class="polymorphism6.SamsungTV"
	    p:speaker-ref="sony4"
	    p:price="300000">
	</bean>
	<bean id="sony4" class="polymorphism6.SonySpeaker"></bean>
	<bean id="apple2" class="polymorphism6.AppleSpeaker"></bean>
		
	
	
	
	<!-- 4.4.1 List 타입 매핑-->
	<bean id="collectionBean"
	      class="com.springbook.ioc.injection.CollectionBean">
		<property name="addressList">
		    <list>
		        <value>서울시 강남구 역삼동</value>
		        <value>서울시 성동구 행당동</value>
		    </list>
		</property>
	</bean>
	
	
	
	<!-- 4.4.2 Set 타입 매핑-->
	<bean id="collectionBean1"
	      class="com.springbook.ioc.injection1.CollectionBean">
		<property name="addressList">
		    <set value-type="java.lang.String">
		        <value>서울시 강남구 역삼동</value>
		        <value>서울시 성동구 행당동</value>
		        <value>서울시 성동구 성수동</value>
		        <value>서울시 성동구 성수동</value>
		    </set>
		</property>
	</bean>
	
</beans>
	